{% extends 'base.html' %}

{% block content %}
    <h1 class="skeleton-heading">About Us</h1>
        <div class="p-4 justify-content-center">
            <p>
                Welcome to Best Cars, 
                We sell domestic and imported cars at reasonable price.
            </p>
            </br>
            <p>
                Best Cars Co. 
            </p>
            </br>
            <p><a style="color:black; font-weight: bold;" href="{% url 'djangoapp:contact' %}">Get in touch with us today!</a></p>
    </div>    
{% endblock %}
